.input_output_grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: start;
	column-gap: 10%;
}

.input_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 15%;
	row-gap: 1rem;
	justify-content: start;
	align-items: center;
}

.input_grid h3 {
	grid-column: 1/-1;
	font-size: var(--font-size);
	font-weight: 500;
}

.output_grid {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 15%;
	row-gap: 1rem;
	align-items: start;
}